<!DOCTYPE HTML>
<html>
    <head>
        <title>Banner管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
         <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
        <!-- Custom CSS -->
        <link href="/css/style.css" rel='stylesheet' type='text/css' />
        <link href="/css/font-awesome.css" rel="stylesheet"> 
        <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.form.js"></script>
        <script src="/js/formcallback.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="wrapper">
        <!-- Navigation -->
            <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand">买鲜后台管理系统</a>
                </div>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li><a href=<%= zonglan %>><i class="fa fa-dashboard fa-fw nav_icon"></i>总览</a></li>
                            <li><a href="/item"><i class="fa fa-laptop nav_icon"></i>商品管理</a></li>
                            <li><a href="/agent"><i class="fa fa-sitemap fa-fw nav_icon"></i>代理管理</a></li>
                            <li><a href="/order"><i class="fa fa-indent nav_icon"></i>订单管理</a></li>
                            <li><a href="/banner"><i class="fa fa-check-square-o nav_icon"></i>Banner管理</a></li>
                                <!-- /.nav-second-level -->
                            <li><a href="/search"><i class="fa fa-table nav_icon"></i>搜索</a></li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div class="col-md-12 graphs">
                    <div class="xs">
                        <h3>Banner信息</h3>
                        <div class="well1 white">
                        <form action='/banner' method='post' id="bannerform" class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" novalidate="novalidate" ng-submit="submit()">
                            <fieldset>
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">BannerID</label>
                                    <input type="text" name="_id" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="" value=<%= banner._id %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Banner名称</label>
                                    <input type="text" name="bannername" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="" value=<%= banner.bannername %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Banner图片</label>
                                    <input type="text" name="bannerpic" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="" value=<%= banner.bannerimage %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">状态</label>
                                    <select name="status" id="select" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select" required="" status=<%= banner.status %>>
                                        <option value=0>正常</option>
                                        <option value=1>下架</option>
                                    </select>
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">商品id</label>
                                    <input type="text" name="itemid" id="itemid" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="" value=<%= banner.itemid %>>
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">商品名称</label>
                                    <input type="text" name="itemname" id="itemname" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="" value=<%= banner.itemname %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品列表</label>
                                    <div class="but_list">
                                        <p id="item_list">
                                            <button class="btn btn-warning warning_22" type="button" itemname=<%= banner.itemname %> itemid=<%= banner.itemid %> id=<%= banner.itemid %> onclick="removeitem(this)"><%= banner.itemname %></button>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                    <button type="reset" class="btn btn-default">清空</button>
                                </div>
                            </fieldset>
                        </form>
                        </div>
                        <div class="navbar-form navbar-left">
                            <select id="selecttarget" style="display:none;">
                                <option value=1>商品</option>
                            </select>
                            <input type="text" id="search" class="form-control" placeholder="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                            <button type="button" class="btn btn-primary" onclick="search()">搜索</button>
                        </div>
                        <div class="content_bottom">
                            <div class="col-md-8 span_3" style="width:100%;">
                                <div class="bs-example1" data-example-id="contextual-table">
                                    <div class="scrollbar" id="style-2">
                                        <table class="table">
                                            <thead id="tablehead">
                                            </thead>
                                            <tbody id="tablebody" flag="1">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Nav CSS -->
        <link href="/css/custom.css" rel="stylesheet">
        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/metisMenu.min.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>
