<!DOCTYPE HTML>
<html>
	<head>
	    <title>商品管理</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="keywords" content="" />
	    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	     <!-- Bootstrap Core CSS -->
	    <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	    <!-- Custom CSS -->
	    <link href="/css/style.css" rel='stylesheet' type='text/css' />
	    <link href="/css/font-awesome.css" rel="stylesheet"> 
	    <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.form.js"></script>
        <script src="/js/formcallback.js"></script>
	    <!-- Bootstrap Core JavaScript -->
	    <script src="/js/bootstrap.min.js"></script>
    </head>

    <body>
    	<div id="wrapper">
    	<!-- Navigation -->
    		<nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    			<div class="navbar-header">
    				<a class="navbar-brand">买鲜后台管理系统</a>
    			</div>
                
        		<div class="navbar-default sidebar" role="navigation">
        			<div class="sidebar-nav navbar-collapse">
        				<ul class="nav" id="side-menu">
        					<li><a href=<%= zonglan %>><i class="fa fa-dashboard fa-fw nav_icon"></i>总览</a></li>
        					<li><a href="/item"><i class="fa fa-laptop nav_icon"></i>商品管理</a></li>
                            <li><a href="/agent"><i class="fa fa-sitemap fa-fw nav_icon"></i>代理管理</a></li>
        					<li><a href="/order"><i class="fa fa-indent nav_icon"></i>订单管理</a></li>
        					<li>
        						<a href="#"><i class="fa fa-envelope nav_icon"></i>活动管理<span class="fa arrow"></span></a>
        						<ul class="nav nav-second-level">
        							<li><a href="inbox.html">活动查询</a></li>
        							<li><a href="compose.html">活动编辑</a></li>
                      			</ul>
                      			<!-- /.nav-second-level -->
                  			</li>
                            <li><a href="/banner"><i class="fa fa-check-square-o nav_icon"></i>Banner管理</a></li>
                      			<!-- /.nav-second-level -->
                            <li><a href="/search"><i class="fa fa-table nav_icon"></i>搜索</a></li>
                      	</ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
            	<div class="col-md-12 graphs">
            		<div class="xs">
            			<h3 id="titlemx">商品信息</h3>
            			<div class="well1 white">
            			<form action='/item' method='post' id="itemform" class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" novalidate="novalidate" ng-submit="submit()">
							<fieldset>
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">商品ID</label>
                                    <input type="text" name="_id" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="" value=<%= item._id %>>
                                </div>
								<div class="form-group">
									<label class="control-label">商品名称</label>
              						<input type="text" name="name" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="" value=<%= item.name %>>
            					</div>
                                <div class="form-group">
                                    <label class="control-label">商品简短描述</label>
                                    <input type="text" name="briefDes" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="" value=<%= item.briefDes %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品现价</label>
                                    <input type="text" name="normalprice" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.number" required="" value=<%= item.normalprice %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品团购价</label>
                                    <input type="text" name="agentprice" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.number" required="" value=<%= item.agentprice %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品小图</label>
                                    <input type="url" name="overviewImage" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="" value=<%= item.overviewImage %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品大图</label>
                                    <input type="url" name="innerImage" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="" value=<%= item.innerImage %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品详情图</label>
                                    <input type="url" name="itemDetailImage" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="" value=<%= item.itemDetailImage %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">商品Banner图</label>
                                    <input type="url" name="bannerImage" class="form-control1 ng-invalid ng-valid-url ng-invalid-required ng-touched" ng-model="model.url" required="" value=<%= item.bannerImage %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">销量</label>
                                    <input type="text" name="sales" class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" ng-model="model.number" ng-pattern="/[0-9]/" required="" readonly="readonly" value=<%= item.sales %>>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">评分</label>
                                    <input type="text" name="rating" class="form-control1 ng-invalid ng-invalid-required ng-valid-pattern ng-touched" ng-model="model.number" ng-pattern="/[1-5]/" required="" readonly="readonly" value=<%= item.rating %>>
                                </div>
                                <div class="form-group filled">
                                    <label class="control-label">商品分类</label>
                                    <select name="category" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.select" required="" value=<%= item.classify %>>
                                        <option value="虾">虾</option>
                                        <option value="蟹">蟹</option>
                                        <option value="鱼">鱼</option>
                                        <option value="活鲜">活鲜</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                    <button type="reset" class="btn btn-default">清空</button>
                                </div>
                            </fieldset>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Nav CSS -->
        <link href="/css/custom.css" rel="stylesheet">
        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/metisMenu.min.js"></script>
        <script src="/js/custom.js"></script>
    </body>
</html>
